<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>list</title>
  <meta name="description" content="I am  list description">
  <link rel="stylesheet" href="../../statics/styles/index.scss"> 
  <script src="../../statics/scripts/index.js"></script>
</head>
<body>
  <%- include( "../_templates/header.html", {people: people}); %>
  <% include ../_templates/header.html %>
  <% include ../_templates/header.html %>
  <% if (people) { %>
    <h2><%= people %></h2>
  <% } %>
</body>
</html>